*{
    margin: 0;
    padding: 0;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Seccion dedicada al estilo del Header y la barra nav */
header {
    background-color: rgb(79, 129, 204);
}
nav {
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
nav h3 {
    text-decoration: none;
    color:white;
    padding: 10px 20px 10px;
}
nav img{
    width: 40px;
    height: 40px;
    padding-top: 10px;
}

/*Fin seccion header y nav*/

/* Seccion dedicada al main de Index */
.parrafo_presentacion{
    background-color: white;
}

.parrafo_presentacion video{
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.parrafo_presentacion p {
    font-size: 30px;
    font-family: Oswald;
    margin-top: 20px;
    justify-content: center;
}
/* fin seccion main index */

/*Seccion dedicada al main de Clases*/

.clases {
    background-color: white;
    margin: 10px 20px;
}
.clases div{
    display: flex;
    margin: 10px 20px;
}
.clases img {
    width: 30%;
    height: 70%;
}
/*fin seccion clases*/

/*Seccion dedicaca al main profesores*/ 
.profesores {
    background: linear-gradient(to left, #3e6ef3, #ffffff);
    
}
.profesores div{
    display: flex;
    align-items: center; 
    margin: 10px 20px;
}
.text-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Espacio entre la imagen y el texto */
}
.profesores img {
    width: 250px;
    height: 250px;
}

.profesores p{
    font-size: 30px;
    justify-content: center;
    margin: 55px;
}

/*Fin seeccion profesores*/

/*Seccion dedicada al Estudio audiovisual*/

.estudio_audiovisual h1{
    font-size: 40px;
    align-items: center;
}

.estudio_audiovisual ol{
    font-family: Oswald;
    font-size: 15px;
    justify-content: center;
}
/*fin seccion audiovisual*/

/*Seccion dedicada al footer*/
footer {
    background-color: rgb(124, 171, 241);
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

footer a {
    text-decoration: none;
    color:white;
    padding: 10px 20px 10px;

}
footer img{
    width: 40px;
    height: 40px;
}
/*fin seccion footer*/