.titulo-estudio{
    h1{
        font-size: 30px;
        display: flex;
        justify-content: center;
        color: rebeccapurple;
    }
    h2{
        font-size: 24px;
        display: flex;
        justify-content: justify;
    }
}

.estudio_audiovisual{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;

    video{
        width: 300px;
        height: auto;
        margin-right: 40px;
    }
    ol{
        font-family: 'Oswald';
        font-size: 25px;
        justify-content: center;
        margin: 40px;
        spam{
            text-decoration: underline;
        }
        li{
            padding:10px;
        }
    }
} 
