.formulario_email{
    background-color: white;
    margin: 10px 20px;
    h1 {
        font-size: 30px;
        font-family: Oswald;
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    div{
        display: block;
        padding: 2px;
        
    }

}