$margenes:20px;
$displayers:flex;
$familia:'Osawald';
$contenido:center;

@keyframes encender {
    0% {
      transform: scaleY(0); /* El video comienza en una línea */
    }
    100% {
      transform: scaleY(1); /* El video se expande completamente */
    }
  }

@mixin letras-style ($font-size, $font-family, $margin, $display, $justify){
    font-size: $font-size;
    font-family: $font-family;
    margin: $margin;
    display: $display;
    justify-content: $justify;
}

.parrafo_presentacion{
    background-color: white;
    
    .video-contenedor{
        display: flex;
        justify-content: center;
        align-items: center;

        video{
            width: 60%;
            height: 50%;
            object-fit: cover;
            transform-origin: center; /* El punto de expansión es desde la parte superior */
            transform: scaleY(0); /* Inicia con un 0% de altura */
            animation: encender 3s ease-out forwards;
        }
    }

    h1 {
        @include letras-style(45px, $familia, $margenes, $displayers, $contenido);
        color: rgb(41, 9, 9);
    }
    h3{
        @include letras-style(25px, $familia, $margenes, $displayers, $contenido)
    }

    p {
        @include letras-style(25px, $familia, $margenes, $displayers, $contenido)
        
    }
}
