.parrafo_presentacion{
    background-color: white;

    video{
        width: 50%;
        height: 50%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
    }

    h1 {
        font-size: 30px;
        font-family: Oswald;
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    h3{
        font-size: 15px;
        font-family: Oswald;
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 25px;
        font-family: Oswald;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
