.profesores {
    background:linear-gradient(to left top, white, rgb(122, 120, 120));
    .card{
        max-width: 2000px;

        img{
            border-radius: 4px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
        h5{
            font-size: 25px;
            text-decoration: underline;
            text-align: center;
        }
        p{
            font-size: 19px;
            text-align: justify;
        }
    }

}